force-app/main/default/flows/GOV_Request_Account_Update_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>takes the variables of account and assigns them to a variable to be used in the screen flow</description>
        <name>Convert_Account_variables_into_Screen_flow_defaults</name>
        <label>Convert Account variables into Screen flow defaults</label>
        <locationX>557</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>screenDefaultName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultParentAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultCovetrusCustomerNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Covetrus_Customer_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultCorporateGroupParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Corporate_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultAccountDisabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Account_Disabled__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Update_to_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>takes the variables of account and assigns them to a variable to be used in the screen flow</description>
        <name>Convert_WorkItem_variables_into_Screen_flow_defaults_0</name>
        <label>Convert Work Item variables into Screen flow defaults</label>
        <locationX>520</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>screenDefaultName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Shipping_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Shipping_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Shipping_Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Shipping_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Shipping_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultParentAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Parent_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultCovetrusCustomerNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultCorporateGroupParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenDefaultAccountDisabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLegacyAccount.Inactive_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_for_New_Account_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkLegacyAccountNull</name>
        <label>checkLegacyAccountNull</label>
        <locationX>209</locationX>
        <locationY>597</locationY>
        <defaultConnector>
            <targetReference>getLegacyAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>legacy_account_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkItem.Legacy_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NullLegacyAccountError</targetReference>
            </connector>
            <label>legacy account is null</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines the object name based on the parameter of Type coming from the URL of the button.</description>
        <name>Object_Name</name>
        <label>Object Name</label>
        <locationX>195</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Object_is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>Object is Account</label>
        </rules>
        <rules>
            <name>Object_is_Work_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Workitem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkItem</targetReference>
            </connector>
            <label>Object is Work Item</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the account has a parent account</description>
        <name>Parent_Account_Populated</name>
        <label>Parent Account Populated</label>
        <locationX>848</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_account_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentAccount</targetReference>
            </connector>
            <label>Parent account is populated</label>
        </rules>
        <rules>
            <name>Parent_Account_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Update_Request_0</targetReference>
            </connector>
            <label>Parent Account is Null</label>
        </rules>
    </decisions>
    <description>Flow build to handle the update requests made to governed fields on the Account</description>
    <dynamicChoiceSets>
        <name>AccountStatusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>GOV - Request Account Update Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GOV - Request Account Update Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Update_Request</name>
        <label>Create Account Update Request</label>
        <locationX>1074</locationX>
        <locationY>107</locationY>
        <assignRecordIdToReference>createdAURId</assignRecordIdToReference>
        <connector>
            <targetReference>successMessageScreen_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Disabled__c</field>
            <value>
                <elementReference>screenDefaultAccountDisabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Name__c</field>
            <value>
                <elementReference>screenDefaultName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Parent__c</field>
            <value>
                <elementReference>screenDefaultParentAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>screenDefaultCorporateGroupParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>screenDefaultCovetrusCustomerNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_City__c</field>
            <value>
                <elementReference>screenDefaultShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Country__c</field>
            <value>
                <elementReference>screenDefaultShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>screenDefaultShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_State__c</field>
            <value>
                <elementReference>screenDefaultShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Street__c</field>
            <value>
                <elementReference>screenDefaultShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Disabled__c</field>
            <value>
                <elementReference>Account_Disabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Name__c</field>
            <value>
                <elementReference>New_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Parent__c</field>
            <value>
                <elementReference>ParentAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>CorporateAccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>New_Covetrus_Customer_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>NewAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Country__c</field>
            <value>
                <elementReference>NewAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>NewAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_State_Province__c</field>
            <value>
                <elementReference>NewAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>NewAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item__c</field>
            <value>
                <elementReference>getWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Update_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Update_Request_0</name>
        <label>Create Account Update Request</label>
        <locationX>1117</locationX>
        <locationY>295</locationY>
        <assignRecordIdToReference>createdAURId</assignRecordIdToReference>
        <connector>
            <targetReference>successMessageScreen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Disabled__c</field>
            <value>
                <elementReference>screenDefaultAccountDisabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Name__c</field>
            <value>
                <elementReference>screenDefaultName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Parent__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>screenDefaultCorporateGroupParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>screenDefaultCovetrusCustomerNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_City__c</field>
            <value>
                <elementReference>screenDefaultShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Country__c</field>
            <value>
                <elementReference>screenDefaultShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>screenDefaultShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_State__c</field>
            <value>
                <elementReference>screenDefaultShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Street__c</field>
            <value>
                <elementReference>screenDefaultShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Disabled__c</field>
            <value>
                <elementReference>Account_Disabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Name__c</field>
            <value>
                <elementReference>New_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Parent__c</field>
            <value>
                <elementReference>ParentAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>CorporateAccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>New_Covetrus_Customer_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>NewAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Country__c</field>
            <value>
                <elementReference>NewAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>NewAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_State_Province__c</field>
            <value>
                <elementReference>NewAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>NewAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item__c</field>
            <value>
                <elementReference>getWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Update_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Update_Request_0_0</name>
        <label>Create Account Update Request</label>
        <locationX>886</locationX>
        <locationY>444</locationY>
        <assignRecordIdToReference>createdAURId</assignRecordIdToReference>
        <connector>
            <targetReference>getCreatedAUR</targetReference>
        </connector>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>createComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Name__c</field>
            <value>
                <elementReference>createNew_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>NewAddress_0.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Country__c</field>
            <value>
                <elementReference>NewAddress_0.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>NewAddress_0.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_State_Province__c</field>
            <value>
                <elementReference>NewAddress_0.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>NewAddress_0.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item__c</field>
            <value>
                <elementReference>getWorkItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Update_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>406</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Account_variables_into_Screen_flow_defaults</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Account_Disabled__c</queriedFields>
        <queriedFields>Account_Status__c</queriedFields>
        <queriedFields>Corporate_Group__c</queriedFields>
        <queriedFields>Covetrus_Customer_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCreatedAUR</name>
        <label>getCreatedAUR</label>
        <locationX>1033</locationX>
        <locationY>447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>closeWorkItem</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdAURId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Update_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Item__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLegacyAccount</name>
        <label>getLegacyAccount</label>
        <locationX>385</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_WorkItem_variables_into_Screen_flow_defaults_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkItem.Legacy_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legacy_Account__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Parent_Account__c</queriedFields>
        <queriedFields>Shipping_Address__c</queriedFields>
        <queriedFields>Shipping_City__c</queriedFields>
        <queriedFields>Shipping_Country__c</queriedFields>
        <queriedFields>Shipping_State_Province__c</queriedFields>
        <queriedFields>Shipping_Zip_Postal_Code__c</queriedFields>
        <queriedFields>Inactive_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentAccount</name>
        <label>getParentAccount</label>
        <locationX>854</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Update_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get account information from current work item record.</description>
        <name>getWorkItem</name>
        <label>getWorkItem</label>
        <locationX>207</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkLegacyAccountNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Legacy_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>if there is a work item related to the AUR, then the work item will be closed</description>
        <name>closeWorkItem</name>
        <label>closeWorkItem</label>
        <locationX>1165</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>successMessageScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCreatedAUR.Work_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed - New Enterprise Account Created</stringValue>
            </value>
        </inputAssignments>
        <object>Work_Item__c</object>
    </recordUpdates>
    <screens>
        <description>an error occurred</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>201</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;An Error has occurred in the decision step&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>display this error when legacy account is null</description>
        <name>NullLegacyAccountError</name>
        <label>NullLegacyAccountError</label>
        <locationX>521</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nulllegacyaccountmessage</name>
            <fieldText>&lt;p&gt;This Work Item requires a related Legacy Account to continue. Please add one and retry. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_for_New_Account_0</name>
        <label>Request for New Account</label>
        <locationX>726</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account_Update_Request_0_0</targetReference>
        </connector>
        <fields>
            <name>createNew_Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>screenDefaultName</elementReference>
            </defaultValue>
            <fieldText>New Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NewAddress_0</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>screenDefaultShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>screenDefaultShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>New Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>screenDefaultShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>screenDefaultShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>screenDefaultShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>createComments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Update_to_Account</name>
        <label>Request Update to Account</label>
        <locationX>724</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parent_Account_Populated</targetReference>
        </connector>
        <fields>
            <name>New_Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>screenDefaultName</elementReference>
            </defaultValue>
            <fieldText>New Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ParentAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Account Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>screenDefaultParentAccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>screenDefaultShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>screenDefaultShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>New Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>screenDefaultShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>screenDefaultShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>screenDefaultShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Disabled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>screenDefaultAccountDisabled</elementReference>
            </defaultValue>
            <fieldText>Account Disabled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Covetrus_Customer_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>screenDefaultCovetrusCustomerNumber</elementReference>
            </defaultValue>
            <fieldText>New Covetrus Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CorporateAccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Corporate_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Corporate Parent Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>screenDefaultCorporateGroupParent</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successMessageScreen</name>
        <label>successMessage</label>
        <locationX>1303</locationX>
        <locationY>449</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have successfully created a request for a new Covetrus Account. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successMessageScreen_0</name>
        <label>successMessage</label>
        <locationX>1242</locationX>
        <locationY>301</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have successfully created a request to update a Covetrus Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successMessageScreen_0_0</name>
        <label>successMessage</label>
        <locationX>1233</locationX>
        <locationY>109</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You have successfully created a request to update a Covetrus Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Object_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdAURId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>gets the related legacy account id from the work item record</description>
        <name>inputWorkitemLegacyAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegacyaccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>legacyAccountSObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>input object type from URL of button that launches the flow</description>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultAccountDisabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultCorporateGroupParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultCovetrusCustomerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>default value for the account name on the screen</description>
        <name>screenDefaultName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultShippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultShippingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenDefaultShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
