force-app/main/default/flows/GOV_Create_Work_Item_for_Account_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_for_Legacy_Accounts</name>
        <label>Check for Legacy Accounts</label>
        <locationX>302</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legacy_Accounts_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountUpdateRequest.Account__r.Count_of_Legacy_Accounts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLegacyAccount</targetReference>
            </connector>
            <label>Legacy Accounts &gt; than 0</label>
        </rules>
    </decisions>
    <description>Invocable flow that creates a work item when the account update approval is completed.</description>
    <interviewLabel>GOV - Create Work Item for Account Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GOV - Create Work Item for Account Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createWorkItem</name>
        <label>createWorkItem</label>
        <locationX>664</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>getAccountUpdateRequest.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Account__c</field>
            <value>
                <elementReference>getLegacyAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>Record Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <stringValue>There was an update made to the Master Account. Please review </stringValue>
            </value>
        </inputAssignments>
        <object>Work_Item__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountUpdateRequest</name>
        <label>getAccountUpdateRequest</label>
        <locationX>180</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Legacy_Accounts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAURId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Update_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLegacyAccount</name>
        <label>getLegacyAccount</label>
        <locationX>546</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createWorkItem</targetReference>
        </connector>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountUpdateRequest.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legacy_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccountUpdateRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputAURId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
