force-app/main/default/flows/GOV_Create_Covetrus_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>flow to create covetrus account once Approved by approval process</description>
    <interviewLabel>GOV - Create Covetrus Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GOV - Create Covetrus Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createAccount</name>
        <label>createAccount</label>
        <locationX>609</locationX>
        <locationY>67</locationY>
        <assignRecordIdToReference>createdAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>updateAccountUpdateRequest</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Region__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getAURAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getProspectRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>getAURAccountShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>getAURAccountShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>getAURAccountShippingZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>getAURAccountShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>getAURAccountShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>getAccoutUpdateRequest</name>
        <label>getAccoutUpdateRequest</label>
        <locationX>190</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProspectRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <object>Account_Update_Request__c</object>
        <outputAssignments>
            <assignToReference>getAURID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getAURAccountName</assignToReference>
            <field>New_Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getAURAccountShippingCity</assignToReference>
            <field>New_Shipping_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getAURAccountShippingCountry</assignToReference>
            <field>New_Shipping_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getAURAccountShippingZip</assignToReference>
            <field>New_Shipping_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getAURAccountShippingState</assignToReference>
            <field>New_Shipping_State_Province__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getAURAccountShippingStreet</assignToReference>
            <field>New_Shipping_Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getAURWorkitemID</assignToReference>
            <field>Work_Item__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getCovetrusAccountRecordType</name>
        <label>getCovetrusAccountRecordType</label>
        <locationX>1209</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateToCovetrusAccount</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Covetrus_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLegacyAccount</name>
        <label>getLegacyAccount</label>
        <locationX>934</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateLegacyAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkitemLegacyAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legacy_Account__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProspectRecordType</name>
        <label>getProspectRecordType</label>
        <locationX>312</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkItem</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkItem</name>
        <label>getWorkItem</label>
        <locationX>466</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAURWorkitemID</elementReference>
            </value>
        </filters>
        <object>Work_Item__c</object>
        <outputAssignments>
            <assignToReference>getWorkitemLegacyAccountID</assignToReference>
            <field>Legacy_Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountUpdateRequest</name>
        <label>updateAccountUpdateRequest</label>
        <locationX>781</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>getLegacyAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAURID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>createdAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Update_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLegacyAccount</name>
        <label>updateLegacyAccount</label>
        <locationX>1076</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>getCovetrusAccountRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getLegacyAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <elementReference>createdAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Legacy_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateToCovetrusAccount</name>
        <label>updateToCovetrusAccount</label>
        <locationX>1349</locationX>
        <locationY>106</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getCovetrusAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccoutUpdateRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURAccountShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURAccountShippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURAccountShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURAccountShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURAccountShippingZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getAURWorkitemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getWorkitemLegacyAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
