force-app/main/default/flows/KSTORE_Create_Account_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assigns the Covetrus account with the Name from the Screen Flow.</description>
        <name>Assign_Account_Name</name>
        <label>Assign Account Name</label>
        <locationX>566</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>outputAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Covetrus_Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountTypeChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputAccount.Company_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Covetrus_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AccountTypeChoiceLocation</name>
        <choiceText>Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountTypeChoiceMobileVet</name>
        <choiceText>Mobile Vet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile Vet</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountTypeChoiceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>AccountTypeChoicePersonalAccount</name>
        <choiceText>Personal Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Account</stringValue>
        </value>
    </choices>
    <description>Added in Type picklist to screen for selection</description>
    <interviewLabel>Create Covetrus Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KSTORE - Create Covetrus Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates Covetrus Account Parent.</description>
        <name>Create_Covetrus_Account</name>
        <label>Create Covetrus Account</label>
        <locationX>698</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Update_Legacy_Account_with_Covetrus_Practice_Lookup</targetReference>
        </connector>
        <inputReference>outputAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get account information from current account record.</description>
        <name>lookupAccount</name>
        <label>Get Account Record Information</label>
        <locationX>211</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Covetrus_Account_Creation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Legacy_Account__c</object>
        <outputReference>legacyAccountSObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Shipping_Address__c</queriedFields>
        <queriedFields>Shipping_City__c</queriedFields>
        <queriedFields>Shipping_Country__c</queriedFields>
        <queriedFields>Shipping_Zip_Postal_Code__c</queriedFields>
        <queriedFields>Shipping_State_Province__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the list of Record Types</description>
        <name>Record_Type_ID_Query</name>
        <label>Record Type ID Query</label>
        <locationX>449</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Name</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Covetrus_Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Legacy Account with Covetrus Practice Lookup</description>
        <name>Update_Legacy_Account_with_Covetrus_Practice_Lookup</name>
        <label>Update Legacy Account with Covetrus Practice Lookup</label>
        <locationX>856</locationX>
        <locationY>50</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>legacyAccountSObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <elementReference>outputAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Legacy_Account__c</object>
    </recordUpdates>
    <screens>
        <description>Screen that allows the user to alter the created Covetrus Account information before final creation.</description>
        <name>Covetrus_Account_Creation</name>
        <label>Covetrus Account Creation</label>
        <locationX>335</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Record_Type_ID_Query</targetReference>
        </connector>
        <fields>
            <name>Covetrus_Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>legacyAccountSObject.Name</elementReference>
            </defaultValue>
            <fieldText>Covetrus Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Name is too long.</errorMessage>
                <formulaExpression>IF (len({!Covetrus_Account_Name}) &lt; 81, TRUE, FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ScreenAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>legacyAccountSObject.Shipping_City__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>legacyAccountSObject.Shipping_Country__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>legacyAccountSObject.Shipping_Zip_Postal_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>legacyAccountSObject.Shipping_State_Province__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>legacyAccountSObject.Shipping_Address__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outputAccount.ShippingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputAccount.ShippingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputAccount.ShippingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputAccount.ShippingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputAccount.ShippingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AccountTypeChoice</name>
            <choiceReferences>AccountTypeChoiceOther</choiceReferences>
            <choiceReferences>AccountTypeChoiceLocation</choiceReferences>
            <choiceReferences>AccountTypeChoicePersonalAccount</choiceReferences>
            <choiceReferences>AccountTypeChoiceMobileVet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>lookupAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The retrieved account record for prepopulation.</description>
        <name>accountSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>legacyAccountSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Legacy_Account__c</objectType>
    </variables>
    <variables>
        <description>Outputted account information for creation of Covetrus Account.</description>
        <name>outputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Input Record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Record Type Record</description>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
