force-app/main/default/flows/Quote_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_ANZ_UK</name>
        <label>Assign ANZ/UK</label>
        <locationX>1552</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCreatedQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Product_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Price_Difference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Price_Difference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Subtotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Subtotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ANZ_UK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NA</name>
        <label>Assign NA</label>
        <locationX>318</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarCreatedQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Price_Difference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Price_Difference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.experlogix_category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.experlogix_category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.experlogix_optionid_sequence_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.experlogix_optionid_sequence_no__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.experlogix_category_sequence_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.experlogix_category_sequence_no__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Experlogix_Avatax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Experlogix_Avatax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.alternate_heading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.alternate_heading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.quotenote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.quotenote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Experlogix_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Experlogix_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.LineNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.LineNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.RecordId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.NestedLineNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.NestedLineNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.display_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.display_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteLineItemObj.product_display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteline_Loop.product_display__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ANZ_UK</name>
        <label>Update ANZ/UK</label>
        <locationX>1057</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteline</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarQuoteLineItemObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteLine_ANZ_UK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_NA</name>
        <label>Update NA</label>
        <locationX>738</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteline</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarQuoteLineItemObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteLine_NA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ANZ_UK_or_NA</name>
        <label>Check ANZ/UK or NA</label>
        <locationX>524</locationX>
        <locationY>78</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GSSSales</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>System_Admin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Item_NA</targetReference>
            </connector>
            <label>NA</label>
        </rules>
        <rules>
            <name>ANZ_UK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GSSSales</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ANZ/UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>System_Admin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Item_ANZ_UK</targetReference>
            </connector>
            <label>ANZ/UK</label>
        </rules>
    </decisions>
    <formulas>
        <name>Expdate</name>
        <dataType>Date</dataType>
        <expression>today()+30</expression>
    </formulas>
    <formulas>
        <description>Custom Label for GSS Sales - ANZ/UK Profile</description>
        <name>GSSSales</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>System_Admin</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>Quote Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Clone</label>
    <loops>
        <name>LoopQuoteLine_ANZ_UK</name>
        <label>LoopQuoteLine ANZ/UK</label>
        <locationX>1281</locationX>
        <locationY>501</locationY>
        <assignNextValueToReference>quoteline_Loop</assignNextValueToReference>
        <collectionReference>Quotelineitem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ANZ_UK</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_QuoteLine</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuoteLine_NA</name>
        <label>LoopQuoteLine NA</label>
        <locationX>523</locationX>
        <locationY>502</locationY>
        <assignNextValueToReference>quoteline_Loop</assignNextValueToReference>
        <collectionReference>Get_Quote_Line_Item_NA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_NA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_QuoteLine</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Quote</name>
        <label>create Quote</label>
        <locationX>312</locationX>
        <locationY>267</locationY>
        <assignRecordIdToReference>VarCreatedQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_ANZ_UK_or_NA</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Quote.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Quote.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>Get_Quote.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Quote.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Quote.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Quote.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>Get_Quote.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Quote.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CanCreateQuoteLineItems</field>
            <value>
                <elementReference>Get_Quote.CanCreateQuoteLineItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Notes__c</field>
            <value>
                <elementReference>Get_Quote.Client_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clone__c</field>
            <value>
                <elementReference>Get_Quote.Clone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Quote.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Quote.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Don_t_Default_Expiration_Date__c</field>
            <value>
                <elementReference>Get_Quote.Don_t_Default_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Quote.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax</field>
            <value>
                <elementReference>Get_Quote.Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Quote.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Quote.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Quote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Quote.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Quote.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>Get_Quote.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingName</field>
            <value>
                <elementReference>Get_Quote.ShippingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Quote.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Quote.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>Get_Quote.ShippingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Quote.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_QuoteLine</name>
        <label>Insert QuoteLine</label>
        <locationX>897</locationX>
        <locationY>512</locationY>
        <inputReference>VarQuoteline</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>111</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item_ANZ_UK</name>
        <label>Get Quote Line Item ANZ/UK</label>
        <locationX>1046</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuoteLine_ANZ_UK</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>Quotelineitem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuoteId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Price_Difference__c</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product_Description__c</queriedFields>
        <queriedFields>Subtotal</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item_NA</name>
        <label>Get Quote Line Item NA</label>
        <locationX>525</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQuoteLine_NA</targetReference>
        </connector>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Quote_Clone</name>
        <label>Quote Clone</label>
        <locationX>277</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <fields>
            <name>Quote_Name</name>
            <dataType>String</dataType>
            <fieldText>Quote Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Quote_Clone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clonequoteid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>lineitemNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteline_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>Quotelineitem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>quotelineOriginal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>VarCreatedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarQuoteline</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>VarQuoteLineItemObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
