force-app/main/default/flows/Request_Account_Update_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <description>Checks to see if the account has a parent account</description>
        <name>Parent_Account_Populated</name>
        <label>Parent Account Populated</label>
        <locationX>420</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_account_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getParentAccount</targetReference>
            </connector>
            <label>Parent account is populated</label>
        </rules>
        <rules>
            <name>Parent_Account_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Update_Request_0</targetReference>
            </connector>
            <label>Parent Account is Null</label>
        </rules>
    </decisions>
    <description>Flow build to handle the update requests made to governed fields on the Account</description>
    <dynamicChoiceSets>
        <name>AccountStatusValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Request Account Update process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Account Update process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Update_Request</name>
        <label>Create Account Update Request</label>
        <locationX>765</locationX>
        <locationY>228</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Disabled__c</field>
            <value>
                <elementReference>getAccount.Account_Disabled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Name__c</field>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Parent__c</field>
            <value>
                <elementReference>getParentAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Status__c</field>
            <value>
                <elementReference>getAccount.Account_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>getAccount.Corporate_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>getAccount.Covetrus_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_City__c</field>
            <value>
                <elementReference>getAccount.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Country__c</field>
            <value>
                <elementReference>getAccount.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>getAccount.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_State__c</field>
            <value>
                <elementReference>getAccount.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Street__c</field>
            <value>
                <elementReference>getAccount.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Disabled__c</field>
            <value>
                <elementReference>Account_Disabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Name__c</field>
            <value>
                <elementReference>New_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Parent__c</field>
            <value>
                <elementReference>ParentAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Status__c</field>
            <value>
                <elementReference>New_Account_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>CorporateAccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>New_Covetrus_Customer_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>NewAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Country__c</field>
            <value>
                <elementReference>NewAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>NewAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_State_Province__c</field>
            <value>
                <elementReference>NewAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>NewAddress.street</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Update_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Update_Request_0</name>
        <label>Create Account Update Request</label>
        <locationX>539</locationX>
        <locationY>257</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Disabled__c</field>
            <value>
                <elementReference>getAccount.Account_Disabled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Name__c</field>
            <value>
                <elementReference>getAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Parent__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account_Status__c</field>
            <value>
                <elementReference>getAccount.Account_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>getAccount.Corporate_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>getAccount.Covetrus_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_City__c</field>
            <value>
                <elementReference>getAccount.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Country__c</field>
            <value>
                <elementReference>getAccount.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>getAccount.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_State__c</field>
            <value>
                <elementReference>getAccount.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Shipping_Street__c</field>
            <value>
                <elementReference>getAccount.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Disabled__c</field>
            <value>
                <elementReference>Account_Disabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Name__c</field>
            <value>
                <elementReference>New_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Parent__c</field>
            <value>
                <elementReference>ParentAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Account_Status__c</field>
            <value>
                <elementReference>New_Account_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Corporate_Group_Parent__c</field>
            <value>
                <elementReference>CorporateAccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Covetrus_Customer_Number__c</field>
            <value>
                <elementReference>New_Covetrus_Customer_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_City__c</field>
            <value>
                <elementReference>NewAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Country__c</field>
            <value>
                <elementReference>NewAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Postal_Code__c</field>
            <value>
                <elementReference>NewAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_State_Province__c</field>
            <value>
                <elementReference>NewAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Shipping_Street__c</field>
            <value>
                <elementReference>NewAddress.street</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Update_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>174</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Update_to_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Account_Disabled__c</queriedFields>
        <queriedFields>Account_Status__c</queriedFields>
        <queriedFields>Corporate_Group__c</queriedFields>
        <queriedFields>Covetrus_Customer_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentAccount</name>
        <label>getParentAccount</label>
        <locationX>663</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Update_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Request_Update_to_Account</name>
        <label>Request Update to Account</label>
        <locationX>305</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parent_Account_Populated</targetReference>
        </connector>
        <fields>
            <name>New_Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccount.Name</elementReference>
            </defaultValue>
            <fieldText>New Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ParentAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Account Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getAccount.ParentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>getAccount.ShippingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>getAccount.ShippingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>New Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>getAccount.ShippingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>getAccount.ShippingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>getAccount.ShippingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>New_Account_Status</name>
            <choiceReferences>AccountStatusValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Account Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Disabled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>getAccount.Account_Disabled__c</elementReference>
            </defaultValue>
            <fieldText>Account Disabled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Covetrus_Customer_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccount.Covetrus_Customer_Number__c</elementReference>
            </defaultValue>
            <fieldText>New Covetrus Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CorporateAccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Corporate_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Corporate Parent Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getAccount.Corporate_Group__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
